.main {
  position: relative;
  min-height: 100vh;
  width: calc(100% - 250px);

  @media (max-width: 650px) {
    min-height: auto;
  }

  @media (max-width: 650px) {
    width: 100%;
  }
}

.saved-searches {
  margin-top: 15px;

  h2 {
    margin-bottom: 10px;
  }
}

.applications-chart {
  height: calc(100vh - 180px);
  width: 100%;
}
