.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 350px;
  background-color: $white;
  padding: 30px 20px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);

  h2 {
    margin-bottom: 30px;
  }

  &--skills {
    list-style-type: none;
    margin: 0 -5px 10px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    li {
      width: calc(50% - 10px);
      margin: 0 5px 10px;
      padding: 5px;
      background-color: $lightest-grey;
    }

    .fa {
      cursor: pointer;
      font-size: 13px;
      position: relative;
      top: -1px;
      margin-left: 5px;
      transition: 200ms color ease;

      &:hover {
        color: $red;
      }
    }
  }

  &__close {
    position: absolute;
    font-size: 14px;
    padding: 5px;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    margin-top: 0;

    .fa {
      position: relative;
      top: -3px;
      left: 1px;
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    transition: 200ms color ease;
    cursor: pointer;

    &:hover {
      color: $blurple;
    }
  }

  &__submit {
    margin: 10px 0 20px;
  }
}
