@import '../../../../../shared/styles/variables';

.result__item {
  text-align: left;
  padding: 20px 20px 25px;
  border-bottom: 1px solid $light-grey;

  &:first-of-type {
    border-top: 1px solid $light-grey;
  }

  &:nth-of-type(odd) {
    background-color: $lightest-grey;
  }

  &-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    &-left {
      padding-right: 20px;

      h3 {
        font-size: 18px;
        text-transform: none;
        margin-bottom: 0;
      }

      .company {
        font-weight: 400;
        margin-right: 15px;
      }

      .location {
        position: relative;
        padding-left: 13px;

        &:before {
          cursor: auto;
          position: absolute;
          top: 5px;
          left: 0;
          content: '\f041';
          font-family: 'FontAwesome';
          font-size: 12px;
        }
      }
    }

    &-right {
      width: 100px;
      text-align: right;
    }
  }
}
