@import '../../../../shared/styles/variables';

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  font-weight: 400;
  box-shadow: 0 0 5px 0 rgba($grey, 0.5);
  overflow: hidden;
  height: 60px;
  padding: 20px 30px;

  @media (max-width: $sm-width) {
    padding: 20px;
  }

  button:not(.button):hover {
    color: $blurple;
  }

  &__breadcrumb {
    padding-right: 10px;

    @media (max-width: $sm-width) {
      display: none;
    }

    &-parent {
      position: relative;
      margin-right: 15px;

      &:after {
        cursor: auto;
        position: absolute;
        right: -15px;
        top: 10px;
        content: '\f111';
        font-family: 'FontAwesome';
        font-size: 5px;
      }

      @media (max-width: $md-width) {
        display: none;
      }
    }

    &-current {
      font-weight: 500;
      margin-left: 10px;

      @media (max-width: $md-width) {
        margin-left: 0;
      }
    }
  }

  &__auth {
    padding-left: 10px;

    @media (max-width: $sm-width) {
      text-align: center;
      width: 100%;
      padding: 0;
    }
  }
}
