@import '../../../../../shared/styles/variables';

.topbar__auth {
  padding-left: 10px;

  @media (max-width: $sm-width) {
    width: 100%;
    padding: 0;
  }

  &-profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;

    &-image {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 10px;
    }

    &-message {
      cursor: pointer;

      i.fa {
        margin-left: 10px;
      }
    }
  }

  &-dropdown {
    background-color: $white;
    position: absolute;
    top: 100%;
    right: 30px;
    padding: 5px 0 7px;
    margin: 0;
    list-style-type: none;
    box-shadow: 1px 2px 3px 0 rgba($grey, 0.5);
    z-index: 120;
    width: 100%;
    max-width: 125px;

    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      right: 0;
      height: 5px;
      background-color: $white;
      z-index: 130;
    }

    @media (max-width: $sm-width) {
      right: 20px;
    }

    li {
      .link {
        text-decoration: none;
        font-size: 14px;
        width: 100%;
        text-align: right;
        padding: 5px 15px;
      }
    }
  }
}
