@import '../../../shared/styles/variables';

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 350px;
  background-color: $white;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  z-index: 110;

  h2 {
    margin-bottom: 30px;
  }

  &__close.button {
    position: absolute;
    font-size: 14px;
    padding: 5px;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    margin-top: 0;

    .fa {
      position: relative;
      top: -3px;
      left: 1px;
    }
  }

  &__link {
    text-align: center;
    width: 100%;
    font-size: 14px;
    text-decoration: underline;

    &:hover {
      color: $blurple;
    }
  }

  &__submit {
    margin: 10px auto 20px;
  }
}
