@import '../../../../../shared/styles/variables';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -5px 60px;

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 5px;
    margin: 5px;
    background-color: $grey-blue;
    color: $white;

    &:hover, &:active, &:focus {
      background-color: $blurple;
    }
  }

  &__inner {
    input, span {
      margin: 5px;
    }

    input {
      width: 60px;
      margin-right: 5px;
      text-align: center;
    }
  }
}
