@import '../../../../../shared/styles/variables';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -5px 60px;

  &__arrow {
    position: relative;
    height: 40px;
    width: 40px;
    padding: 10px;
    margin: 5px;

    .fa {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &--prev {
      .fa {
        left: 47.5%;
      }
    }

    &--next {
      .fa {
        left: 55%;
      }
    }
  }

  &__inner {
    input, span {
      margin: 5px;
    }

    input {
      width: 60px;
      margin-right: 5px;
      text-align: center;
    }
  }
}
