/* Slide */
.slide-enter {
  opacity: 0;
	max-height: 0;
	overflow: hidden;
  transition: all 500ms ease-in-out;
}

.slide-enter-active {
  opacity: 1;
	max-height: 500px;
  transition: all 500ms ease-in-out;
}

.slide-exit {
  opacity: 1;
	max-height: 500px;
	transition: all 250ms ease-in-out;
}

.slide-exit-active {
  opacity: 0;
	max-height: 0;
	overflow: hidden;
  transition: all 250ms ease-in-out;
}
