.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;

  button[type="submit"] {
    margin-top: 10px;
  }

  &__save {
    position: relative;
    top: -33px;
    left: 140px;
    font-weight: 400;
    width: 90px;
    text-decoration: underline;
    transition: 200ms color ease;
    cursor: pointer;

    &:hover {
      color: $blurple;
    }
  }

	&__element {
	  text-align: left;
		position: relative;
		margin-bottom: 15px;
	  width: 100%;

    &--error {
      input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="date"], select, textarea {
        padding-right: 38px;
      }

      .form__element-inner {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          bottom: 10px;
          right: 10px;
          width: 20px;
          height: 20px;
          background-image: url('../../assets/images/icons/error.svg');
        }
      }

      .form__element-message {
        color: $red;
        font-size: 14px;
        margin-top: 5px;
      }
    }

	  &--half {
	    width: calc(50% - 10px);

	    @media (max-width: $md-width) {
	      width: 100%;
	    }

	    &-small {
	      @media (max-width: $md-width) {
	        width: calc(50% - 10px) !important;
	      }

	      @media (max-width: $sm-width) {
	        width: 100% !important;
	      }
	    }
	  }

	  &--third {
	    width: calc(33.33% - 10px);

	    @media (max-width: $md-width) {
	      width: 100%;
	    }

      &-small {
	      @media (max-width: $md-width) {
	        width: calc(33.33% - 10px) !important;
	      }

	      @media (max-width: $sm-width) {
	        width: 100% !important;
	      }
	    }
	  }

	  &--two-thirds {
	    width: calc(66.667% - 10px);

	    @media (max-width: $md-width) {
	      width: 100%;
	    }
	  }

    .form__element-inner--select {
      position: relative;

      &:after {
        position: absolute;
        right: 10px;
        bottom: 10px;
        content: '\f107';
        font-family: 'FontAwesome';
        pointer-events: none;
      }
    }

	  ul {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    margin: 0;
	    padding: 0;
	    list-style: none;

	    label {
	      margin-bottom: 2px;
	      font-size: 16px;
	      font-weight: 300;
	    }
	  }

	  li {
	    width: calc(33.33% - 10px);

	    @media (max-width: $md-width) {
	      width: calc(50% - 10px);
	    }

	    @media (min-width: $sm-width) and (max-width: 650px) {
	      width: calc(33.33% - 10px);
	    }

	    @media (max-width: $xs-width) {
	      width: 100%;
	    }
	  }

	  .geolocate {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    height: 40px;
      width: 40px;
	  }

		label, legend {
			display: block;
	    font-size: 18px;
			margin-bottom: 5px;
	    font-weight: 400;
		}
	}
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="date"], select, textarea {
	background-color: $white;
	border: 1px solid $light-grey;
	border-radius: 0;
	color: $light-grey-blue;
	outline: none;
	padding: 8px 10px;
	width: 100%;
	height: 40px;
	font-weight: 300;
}

input[type="radio"] {
	& ~ label {
		color: $light-grey-blue;
		cursor: pointer;

		&:before {
			font-family: 'FontAwesome';
		  display: inline-block;
		  content: "\f1db";
			width: 25px;
		}
	}

	&:checked ~ label:before {
		content: "\f111";
	}
}

input[type="checkbox"] {
	& ~ label {
		color: $light-grey-blue;
		cursor: pointer;

		&:before {
			font-family: 'FontAwesome';
		  display: inline-block;
		  content: "\f096";
			width: 25px;
		}
	}

	&:checked ~ label:before {
		content: "\f046";
	}
}

select {
	background-color: transparent;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance:none;
	padding-right: 30px;
	cursor: pointer;
}

textarea {
	height: 250px;
	resize: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  margin: 0;
}

input[type="date"] {
	text-transform: uppercase;

	&::-webkit-inner-spin-button,
	&::-webkit-calendar-picker-indicator,
	&::-webkit-clear-button {
	  -webkit-appearance: none;
	  display: none;
	}
}

input[type="file"] {
	outline: none;

	+ label {
		background-color: $lightest-grey;
		border: none;
		outline: none;
		border-radius: 50%;
		font-weight: 300;
		margin: 0 auto;
		width: 175px;
		height: 175px;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		transition: 200ms opacity ease;

		.fa {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 25px;
			color: rgba(#333, 0.65);
			background-color: rgba(#666, 0.35);
			padding: 20px;
			border-radius: 50%;
		}

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 100%;
		}
	}

	&:focus + label,
	+ label:hover {
    opacity: 0.75;
	}
}

::placeholder {
  color: $grey;
}
