.indeed-attribution {
	position: absolute;
	left: 30px;
	bottom: 30px;
	width: calc(100% - 60px);
	text-align: center;

	@media (max-width: $sm-width) {
		left: 20px;
		bottom: 20px;
	}
}

.applications-chart {
  height: calc(100vh - 180px);
  width: 100%;
}
