.indeed-attribution {
	position: absolute;
	left: 30px;
	bottom: 30px;
	width: calc(100% - 60px);

	@media (max-width: $sm-width) {
		left: 20px;
		bottom: 20px;
	}
}

.saved-searches {
  margin-top: 40px;

  h3 {
    text-align: left;
  }
}

.applications-chart {
  height: calc(100vh - 180px);
  width: 100%;
}
