button {
  text-align: left;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  transition: 200ms background-color ease, 200ms color ease, 200ms font-weight ease;
}

a {
  text-decoration: none;
  transition: 200ms all ease, 200ms color ease;

  &:not(.button) {
    color: $grey-blue;
    text-decoration: underline;

    &:hover, &:active, &:focus {
      color: $blurple;
    }
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $heading-font;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  & + button.button {
    margin-top: 10px;
  }
}

h1, .h1 {
  font-size: 32px;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

h2, .h2 {
  font-size: 28px;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

h3, .h3 {
  font-size: 24px;
}

p {
  margin: 0 0 20px;

  b {
    font-weight: 400;
  }
}
