button {
  text-align: left;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  transition: 200ms background-color ease, 200ms color ease, 200ms font-weight ease;
}

a {
  color: $grey-blue;
  text-decoration: underline;
  transition: 200ms opacity ease, 200ms color ease;

  &:hover, &:active, &:focus {
    color: $blurple;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $heading-font;
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;

  & + button.button {
    margin-top: 10px;
  }
}

h1, .h1 {
  font-size: 32px;
  margin-bottom: 0;
}

h2, .h1, h3, .h3 {
  font-size: 24px;
}

p {
  margin: 0 0 20px;
}
