@import './normalize';
@import './variables';
@import './fontawesome';
@import './fonts';
@import './utilities';
@import './typography';
@import './forms';


// TODO
@import './components/other';
@import './components/table';


html, body {
	overflow-x: hidden;
}

body {
	background-color: $lightest-grey;
	color: $grey-blue;
	font-size: 16px;
	font-family: $body-font;
	font-weight: 300;
	line-height: 1.25;

	#root > div {
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}
}

img {
	max-width: 100%;
	color: transparent;
}


.accessible {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	border: 0 none !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px;
}
