@import '../../../../shared/styles/variables';

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  &, &-inner {
    padding: 30px;

    @media (max-width: $sm-width) {
      padding: 20px;
    }
  }

  &-inner {
    justify-content: center;
    align-items: center;
    background-color: $white;
    box-shadow: 0 0 5px 0 rgba($grey, 0.5);
    min-height: calc(100vh - 120px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;

    @media (max-width: 650px) {
      position: static;
    }

    &-enter {
      opacity: 0;
      transform: translate(0, 15px);

      @media (max-width: $sm-width) {
        transform: translate(0, 10px);
      }
    }

    &-enter-active {
      opacity: 1;
      transform: translate(0, 0);
    }

    &-exit {
      opacity: 0;
    }

    &--home, .logged-out & {
      text-align: center;
    }

    h3 {
      text-align: center;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
