@import '../../../../shared/styles/variables';

.content {
  width: 100%;
  margin: 0 auto;
  padding: 90px 30px 30px;

  @media (max-width: 650px) {
    padding: 30px;
  }

  @media (max-width: $sm-width) {
    padding: 20px;
  }

  &-inner {
    padding: 30px;

    @media (max-width: $sm-width) {
      padding: 20px;
    }
  }

  &-inner {
    background-color: $white;
    box-shadow: 0 0 5px 0 rgba($grey, 0.5);
    min-height: calc(100vh - 120px);
    position: relative;
    transition: opacity 750ms ease-in-out, transform 750ms ease-in-out;

    &-enter {
      opacity: 0;
      transform: translate(0, 15px);

      @media (max-width: $sm-width) {
        transform: translate(0, 10px);
      }
    }

    &-enter-active {
      opacity: 1;
      transform: translate(0, 0);
    }

    &-exit {
      opacity: 0;
    }

    .absolute-center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 60px);
      text-align: center;

      @media (max-width: $sm-width) {
        width: calc(100% - 40px);
      }
    }
  }
}
