@import '../../../shared/styles/variables';

.main {
  min-height: 100vh;
  width: calc(100% - 250px);

  @media (max-width: 650px) {
    min-height: auto;
  }

  @media (max-width: 650px) {
    width: 100%;
  }
}
